<!DOCTYPE html>
<html>
  <head>
    <title>MaskedHabbit</title>
		<script type="text/javascript">
  		window.logoURL = "<%= image_url('Logo1.jpg') %>"
		</script>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
